body {
}

#formContainer input {
    margin-bottom: 5px;
}

#formContainer input[type=button] {
    padding: 5px;
}

#formContainer input[type=submit] {
    background: linear-gradient(0deg, rgb(133, 255, 44) 0%, rgb(169, 255, 94) 100%);
    /*padding: 20px 20px 20px 20px;*/
    width: 100px;
    height: 100px;
    border-width: 0px;
    background-image: url("right512.webp");
    background-size: 100%;
}

#formContainer input[type=submit]:hover {
    /*background: linear-gradient(0deg, rgb(255, 232, 78) 0%, rgb(255, 239, 161) 100%);*/
    /*background-image: url("right512.webp");*/
    /*background-size: 100%;*/
 }

/*p:hover, span:hover*/
input:hover, a:hover {
    display: inline-block;
    transform: scale(1.1);
}

/*h1:hover, h2:hover, h3:hover {*/
/*    display: block;*/
/*    transform: scale(1.02);*/
/*}*/

input[type=submit]:focus {
    outline: none;
    box-shadow: none;
}

/*formBig {*/
/*    margin: 5%;*/
/*}*/

#mainMenu {
}

/*#mainMenu div {*/
/*    padding: 10px;*/
/*    _display: inline;*/
/*    float: left;*/
/*}*/

div:empty {
    display: none;
}

/*#mainMenu div:empty {*/
/*    display: none;*/
/*}*/

#username {
    background: linear-gradient(0deg, rgb(162, 212, 83) 0%, rgb(146, 255, 26) 100%);
}

#usernameAdmin {
    background: linear-gradient(0deg, rgb(255, 232, 78) 0%, rgb(255, 239, 161) 100%);
}

.menuItem {
    float: left;
    padding: 10px;
}

#body {
    float: left;
    width: 100%;
}

#menuBG {
    _float: left;
    padding: 10px;
    background: linear-gradient(0deg, rgb(132, 199, 227) 0%, rgb(185, 255, 255) 100%);
}

#langMenu {
    background: linear-gradient(0deg, rgb(132, 199, 227) 0%, rgb(103, 255, 103) 100%);
    padding: 10px;
    display: inline-block;
}

#rightMenu {
    float: right;
}

#logoutMenu {
    /*float: right;*/
    /*background: linear-gradient(0deg, rgb(132, 199, 227) 0%, rgb(103, 255, 103) 100%);*/
    /*padding: 10px;*/
    display: inline-block;
    margin-right: 20px;
}


.formErrorMsg {
    padding: 5px;
    margin-bottom: 25px;
    background: linear-gradient(0deg, rgb(255, 224, 224) 0%, rgb(255, 179, 179) 100%);
    border-radius: 3px;
    transform: rotate(-1deg);

    animation-name: rotation1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotation1 {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(-1deg);}
}

#footer {
    background: linear-gradient(0deg, rgb(166, 231, 255) 0%, rgb(231, 255, 255) 100%);
    text-align: center;
    padding: 10px;
}

#formContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(0deg, #fff 0%, #eee 100%);
    padding: 10px;
}


.pager {
    margin-top: 5px;
}

.pager form {
    display: inline-block;
}

.pager #pageSize {
    background-color: #cfffcf;
}

.pager div {
    display: inline-block;
}


.dataTable {
    border: 10px #ffcccc solid;
    min-width: 50%;
}

.dataTable td {
    background: linear-gradient(0deg, #fff 0%, #fff 100%);
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.dataTable th {
    background: linear-gradient(0deg, #fff 0%, #eee 100%);
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
}


table {
    border-width: 0px;
}

td {
    border-width: 0px;
}



a {
    color: #006712;
}

a:hover {
    color: #00b826;
}